@font-face {
    font-family: DublinBold;
    src: url(./font/Dublin/Desktop\ Fonts/TTF/Dublin-Regular.ttf);
}

@font-face {
    font-family: BoltSans;
    src: url(./font/Bolt\ sans/Bolt\ Regular.ttf);
}

html {
    background-color: rgb(36,36,36);
    color:white;
    scroll-behavior: smooth;
    width:100vw;
    overflow-x: hidden;
    font-family: BoltSans;
}

body {
    display:flex;
    flex-direction:column;
    padding-left:3em;
    padding-right:3em;
    width:100vw;
    margin:0;
    padding:0;
}

/* common styling */

.title {
    font-weight: 700;
    font-size: 3em;
    margin-bottom:0.5em;
    font-family: DublinBold;
}

.introduction, .projects, .contact {
    padding:3em;
    border-top:2px solid white;
    margin-left:3em;
    margin-right:3em;
}

/* header styling */

header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-left:2em;
    margin-right:2em;
    color:grey;
}
header > ul {
    display:flex;
    gap:1em;
    list-style-type: none;
    cursor:pointer;
}

header > ul > li {
    transition: color 0.5s ease-out 0s;
}

header > ul > li:hover {
    color:white;
}


/* Name */

.name {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4,1fr);
    margin-bottom:3em;
    margin-top:4em;
    font-family: DublinBold;
}

.name > h1 {
    margin:0;
    padding:0;
    font-size:8vw;
}

.firstname.firstrow {
    grid-area: 1/1/2/2;
    text-align:end;
}

.lastname.firstrow {
    grid-area: 2/2/3/3;
    text-align: start;
}

.firstname.secondrow {
    grid-area: 3/1/4/2;
    text-align: end;
}

.lastname.secondrow {
    grid-area: 4/2/5/3;
    text-align: start;
}

.name > div {
    display:flex;
    justify-content: center;
    gap:1em;
}

.firstrow.lastname, .secondrow.lastname {
    -webkit-text-stroke: 2px white;
    color:rgb(36,36,36);
}


.firstname, .lastname {
    font-size:7em;
    transform: scaleY(1.5);
}

.firstrow > h1 {
    margin-bottom:-1em;
}


/* maybe animate first name sliding in from right and last name sliding in from left */

.projects > .title {
    margin-bottom:-1em;
}

/* introduction */

.introduction > .paragraph {
    font-size: 1.5em;
}

/* projects */

.projects {
    display:flex;
    flex-direction: column;
    gap:10em;
}

.view > .header {
    font-weight: 700;
    font-size: 1.5em;
}

.project {
    display:flex;
    justify-content: center;
    position:relative;
    align-self: center;
    border-radius:5px;
}

.project > picture {
    filter: brightness(75%);
}

.view {
    border-radius:5px;
    padding:2em;
    background-color: rgb(36,36,36);
    display:flex;
    flex-direction:column;
    justify-content: center;
    position:relative;
}

.view > .header {
    background-color:#36454f;
    color:white;
    text-align: center;
    padding:0.5em;
    margin:0;
}

.view > .description {
    padding:1em;
    border-bottom: 2px solid white;
}

.technologies {
    padding:1em;
}

.view > .header, .view > .description, .view > .technologies, picture {
    z-index:1;
}

.view > .description, .view > .technologies {
    background-color: rgb(36,36,36);
}


@keyframes fromLeft {
    from {
        left:-100%;
    }
    to {
        left:0%;
    }
}

@keyframes fromRight {
    from {
        right:-100%;
    }
    to {
        right:0%;
    }
}

.firstname {
    position:relative;
    animation: 2s fromLeft 1 alternate;
}

.lastname {
    position:relative;
    animation: 2s fromRight 1 alternate;
}

.contact {
    height:60vh;
}

@media (min-width:1001px) {
    .decoration {
        height:100%;
        width:100%;
        margin:auto;
        left:0;
        right:0;
        position:absolute;
        transition: border 1s ease-in 0s;
    }   
    .project:nth-child(even) > .view > .decoration {
        transform:rotate(5deg) translate(-50%,10%)
    }
    
    .project:nth-child(odd) > .view > .decoration {
        transform:rotate(-5deg) translate(-50%)
    }
    
    .project:nth-child(even) > picture {
        transform:rotate(-5deg);
    }
    
    .project:nth-child(odd) > picture {
        transform:rotate(5deg);
    }
    img { 
        max-width:50vw;
    }
}

@media (max-width:1000px) {
    html,body {
        margin:0;
        padding:0;
    }

    body {
        position:absolute;
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    .projects > .project {
        display:flex;
        flex-direction:column;
    }

    .projects,.contact,.introduction {
        max-width: 100%;
        padding:1em;
    }

    .name {
        display:flex;
        flex-direction: column;
        font-size:10vw;
        transform: scale(1.5);
        height:90vh;
        margin-bottom:10vh;
        justify-content: center;
        align-items: center;
    }

    .name,.introduction,.projects,.contact {
        margin:8%;
        padding:0;
    }

    .view {
        position:relative;
        width:100%;
        padding:0;
    }

    img {
        width:100%;
    }

    .decoration {
        height:100%;
        width:100%;
        margin:auto;
        left:0;
        right:0;
        position:absolute;
        transition: border 1s ease-in 0s;
    }

    .project:nth-child(even) > .view > .decoration {
        transform:rotate(5deg) translate(-10%,-40%);
    }
    
    .project:nth-child(odd) > .view > .decoration {
        transform:rotate(-5deg) translate(-10%,-40%);
    }

    .title {
        font-size:8vw;
        text-align: center;
    }

    .introduction > .paragraph {
        font-size: 1em;
    }

    .projects > .title,.introduction > .title {
        margin-top:5vh;
    }

    .contact {
        padding-top:3vh;
        margin:0;
        width:100%;
    }

    .email {
        font-size: 4vw;
    }

    header {
        display:flex;
        justify-content: center;
        font-size:1em;
        margin:0;
        padding-left:2em;
        padding-right:2em;
    }
}