html {
    background-color: rgb(36,36,36);
    color:white;
    scroll-behavior: smooth;
    width:100vw;
}

* {
    word-break: break-word;
}

body {
    display:flex;
    flex-direction:column;
    padding-left:3em;
    padding-right:3em;
}

/* common styling */

.title {
    font-weight: 700;
    font-size: 3em;
    margin-bottom:0.5em;
}

.introduction, .projects, .contact {
    padding:3em;
    border-top:2px solid white;
    margin-left:3em;
    margin-right:3em;
}

/* header styling */

header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-left:2em;
    margin-right:2em;
    color:grey;
}

header > ul {
    display:flex;
    gap:1em;
    list-style-type: none;
    cursor:pointer;
}

header > ul > li {
    transition: color 0.5s ease-out 0s;
}

header > ul > li:hover {
    color:white;
}


/* Name */

.name {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}

.name > div {
    display:flex;
    justify-content: center;
    gap:1em;
}

.firstrow > .lastname {
    -webkit-text-stroke: 2px white;
    color:rgb(36,36,36);
}

.secondrow > .firstname {
    -webkit-text-stroke: 2px white;
    color:rgb(36,36,36); 
}

.firstname, .lastname {
    font-size:7em;
    transform: scaleY(1.5);
}

.firstrow > h1 {
    margin-bottom:-1em;
}


/* maybe animate first name sliding in from right and last name sliding in from left */

.projects > .title {
    margin-bottom:-1em;
}

/* introduction */

.introduction > .paragraph {
    font-size: 1.5em;
}

/* projects */

.projects {
    display:flex;
    flex-direction: column;
    gap:10em;
}

.view > .header {
    font-weight: 700;
    font-size: 1.5em;
}

.project {
    display:flex;
    justify-content: center;
    position:relative;
    align-self: center;
    border:2px solid grey;
    border-radius:5px;
}

.project:nth-child(even) > picture {
}

.project:nth-child(odd) > picture {
}

.project:nth-child(even) > .view {
}

.project:nth-child(odd) > .view {
}

.project > picture {
    filter: brightness(75%);
}

img {
}

.view {
    background-color: #151515;
    border-radius:5px;
    padding:2em;
}

.view > .header {
    background-color:#36454f;
    color:white;
    text-align: center;
    padding:0.5em;
    margin:0;
}

.view > .description {
    padding-bottom:1em;
    border-bottom: 2px solid white;
    margin-bottom:1em;
}


/* scroll into breakpoint and project details appear */

.image {
    height:10px;
}

/* title animation when website loads */

@keyframes fromLeft {
    from {
        left:-100%;
    }
    to {
        left:0%;
    }
}

@keyframes fromRight {
    from {
        right:-100%;
    }
    to {
        right:0%;
    }
}

.firstname {
    position:relative;
    animation: 2s fromLeft 1 alternate;
}

.lastname {
    position:relative;
    animation: 2s fromRight 1 alternate;
}

/* for phones */

@media (max-width:1000px) {
    html,body {
        width:100vw;
        word-break: break-all;
    }

    .projects > .project {
        display:flex;
        flex-direction:column;
    }

    .name {
        margin:0;
        padding:0;
        width:100vw;
        height:auto;
    }
}